@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 21, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
nav ul li {
  display: inline-block;
}

/* line 32, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
nav ul a {
  text-decoration: none;
}

/* line 38, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
body {
  line-height: 1.5;
}

/* line 42, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 50, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_reset.scss */
html {
  font-size: 16px;
}

/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
html, body {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

/* line 6, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
#wrapper {
  margin: 0;
  min-width: 100% !important;
  min-height: 100%;
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* line 15, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.clear {
  clear: both;
}

/* line 19, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
body {
  min-width: 300px;
}

/* line 23, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgGreen {
  background-color: #33cc66;
  color: white;
}

/* line 33, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgGreen:hover,
.bgGreen:active,
.bgGreen:focus,
.bgGreen:active:focus {
  background-color: rgba(51, 204, 102, 0.8);
  box-shadow: 0 0 0 0.2rem rgba(51, 204, 102, 0.2);
}

/* line 41, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgRed {
  background-color: #ec3f3f;
  color: white;
}

/* line 46, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgRed:hover,
.bgRed:active,
.bgRed:focus,
.bgRed:active:focus {
  background-color: rgba(236, 63, 63, 0.8);
  box-shadow: 0 0 0 0.2rem rgba(236, 63, 63, 0.2);
}

/* line 54, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgZiraf {
  background-color: #f2910a;
  color: white;
}

/* line 59, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgZiraf:hover,
.bgZiraf:active,
.bgZiraf:focus,
.bgZiraf:active:focus {
  background-color: rgba(242, 145, 10, 0.8);
  box-shadow: 0 0 0 0.2rem rgba(242, 145, 10, 0.2);
}

/* line 67, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgNeutral {
  background-color: white;
  color: #324e4e;
  border: 1.1px solid #324e4e;
}

/* line 73, C:/xampp/htdocs/WebDev/ZirafApp/scss/base/_base.scss */
.bgNeutral:hover,
.bgNeutral:active,
.bgNeutral:focus,
.bgNeutral:active:focus {
  background-color: #324e4e;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(50, 78, 78, 0.2);
}

/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 10vh;
  background-color: #fff;
  -webkit-box-shadow: 0px -10px 25px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -10px 25px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -10px 25px 4px rgba(0, 0, 0, 0.2);
}

/* line 13, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header button {
  border: none;
  background-color: #fff;
  text-decoration: none;
  height: 10vh;
}

/* line 18, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header button p {
  color: #f2910a;
}

/* line 20, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header button p i {
  font-size: 27px;
}

/* line 26, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header button:active,
.header button:active:focus,
.header button:focus {
  border: none !important;
  outline: none !important;
}

/* line 33, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_header.scss */
.header .navText {
  font-size: 10px !important;
}

/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 10vh;
  background-color: #f2910a;
  -webkit-box-shadow: 0px 10px 25px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 25px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 25px 4px rgba(0, 0, 0, 0.2);
}

/* line 14, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer button {
  border: none;
  background-color: #f2910a;
  text-decoration: none;
  height: 10vh;
}

/* line 19, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer button p {
  color: #fff;
}

/* line 21, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer button p i {
  font-size: 27px;
}

/* line 27, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer button:active,
.footer button:active:focus,
.footer button:focus {
  border: none;
  outline: none !important;
}

/* line 34, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer .navText {
  font-size: 10px !important;
}

/* line 39, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer .row .activeNav {
  background-color: #fff !important;
}

/* line 41, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_footer.scss */
.footer .row .activeNav p {
  color: #f2910a !important;
}

/* line 2, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_forms.scss */
#loginContainer h2, #signupContainer h2 {
  padding: 20px;
}

/* line 8, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_forms.scss */
#loginContainer #loginForm input, #loginContainer #signupForm input, #signupContainer #loginForm input, #signupContainer #signupForm input {
  border-color: #f2910a;
  margin-top: 5px;
}

/* line 12, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_forms.scss */
#loginContainer #loginForm span, #loginContainer #signupForm span, #signupContainer #loginForm span, #signupContainer #signupForm span {
  background-color: #f2910a;
  margin-top: 5px;
  border-color: #f2910a;
  color: #fff;
  width: 50px;
}

/* line 19, C:/xampp/htdocs/WebDev/ZirafApp/scss/layout/_forms.scss */
#loginContainer #loginForm #loginBtn, #loginContainer #loginForm #signupBtn, #loginContainer #signupForm #loginBtn, #loginContainer #signupForm #signupBtn, #signupContainer #loginForm #loginBtn, #signupContainer #loginForm #signupBtn, #signupContainer #signupForm #loginBtn, #signupContainer #signupForm #signupBtn {
  background-color: #f2910a;
  border-color: #f2910a;
}

/* line 3, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed #newsfeedMenu button {
  padding: 5px;
  border: 0.2px solid rgba(242, 145, 10, 0.05);
  background-color: rgba(242, 145, 10, 0.2);
}

/* line 7, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed #newsfeedMenu button p {
  color: #f2910a;
  font-size: 13px;
}

/* line 10, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed #newsfeedMenu button p i {
  font-size: 25px;
}

/* line 16, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed #newsfeedMenu button:active,
#newsfeed #newsfeedMenu button:active:focus,
#newsfeed #newsfeedMenu button:focus {
  outline: none;
  background-color: rgba(242, 145, 10, 0.4);
}

/* line 24, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost {
  background-color: rgba(242, 145, 10, 0.1);
  border-bottom: 1px solid rgba(242, 145, 10, 0.2);
  padding: 20px 20px 0px;
}

/* line 28, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost textarea, #newsfeed .newsfeedAddPost input[type="text"] {
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  border: 1px solid rgba(242, 145, 10, 0.1) !important;
}

/* line 35, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file-control {
  border: 1px solid rgba(242, 145, 10, 0.2);
  color: rgba(242, 145, 10, 0.6);
}

/* line 41, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file {
  margin: 0px 0px 10px;
}

/* line 45, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file-control::before {
  background-color: #f2910a;
  color: white;
  border: none;
}

/* line 51, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file-control::before:hover,
#newsfeed .newsfeedAddPost .custom-file-control::before:active,
#newsfeed .newsfeedAddPost .custom-file-control::before:focus,
#newsfeed .newsfeedAddPost .custom-file-control::before:active:focus {
  background-color: rgba(242, 145, 10, 0.8) !important;
}

/* line 58, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost input[type="text"] {
  margin: 0px 0px 10px;
}

/* line 62, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost textarea:active,
#newsfeed .newsfeedAddPost textarea:active:focus,
#newsfeed .newsfeedAddPost textarea:focus,
#newsfeed .newsfeedAddPost input[type="text"]:active,
#newsfeed .newsfeedAddPost input[type="text"]:active:focus,
#newsfeed .newsfeedAddPost input[type="text"]:focus {
  box-shadow: none;
}

/* line 71, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file-input:focus ~ .custom-file-control {
  box-shadow: none;
}

/* line 75, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(242, 145, 10, 0.6);
  opacity: 1;
  /* Firefox */
}

/* line 80, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(242, 145, 10, 0.6);
}

/* line 84, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(242, 145, 10, 0.6);
}

/* line 88, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost #announcementTextarea {
  height: 100px;
}

/* line 92, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost #pictureTextarea,
#newsfeed .newsfeedAddPost #pollTextarea {
  height: 70px;
}

/* line 98, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost .custom-file .custom-file-label {
  margin-top: -50px !important;
}

/* line 103, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .newsfeedAddPost button {
  color: white;
  float: right !important;
  margin: 10px -10px;
}

/* line 110, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post {
  margin: 20px 5px;
  padding: 10px;
  background-color: rgba(242, 145, 10, 0.1);
  border: 1px solid rgba(242, 145, 10, 0.1);
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.3);
}

/* line 116, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postHeader {
  border-bottom: 1px solid rgba(242, 145, 10, 0.15);
  height: 45px;
}

/* line 120, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postHeader img {
  border-radius: 50px;
}

/* line 124, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postHeader p {
  padding: 8px 5px;
  font-weight: 600;
  color: #f2910a;
}

/* line 130, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postHeader small {
  padding: 10px 5px;
  color: #f2910a;
}

/* line 136, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody p {
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
}

/* line 142, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody img {
  padding: 10px 5px 0px;
  width: 100%;
  height: auto;
}

/* line 149, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption p {
  color: #f2910a;
}

/* line 152, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .progress {
  border-radius: 2px;
  width: 60%;
  margin: 10px 5px;
  height: 35px;
  position: relative;
  background-color: white;
  border: 0.5px solid rgba(242, 145, 10, 0.25);
}

/* line 161, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .progress .progress-bar {
  background-color: rgba(242, 145, 10, 0.3);
}

/* line 163, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .progress .progress-bar p {
  position: absolute;
  left: 0;
  color: #f2910a;
}

/* line 171, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .custom-radio {
  margin: 10px 0px;
}

/* line 175, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .custom-control-indicator {
  background-color: white;
  border: 0.5px solid rgba(242, 145, 10, 0.25);
  height: 25px;
  width: 25px;
}

/* line 182, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postBody .poll .pollOption .custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: #f2910a;
}

/* line 190, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postFooter {
  border-top: 1px solid rgba(242, 145, 10, 0.15);
  height: 40px;
}

/* line 193, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postFooter .likePostBtn {
  border: none;
  background-color: transparent;
  color: #f2910a;
}

/* line 196, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postFooter .likePostBtn img {
  height: 30px;
  width: auto;
}

/* line 203, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_newsfeed.scss */
#newsfeed .post .postFooter .likesCount {
  color: #f2910a;
  padding: 10px 5px 0px;
}

/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel {
  padding-top: 15px;
}

/* line 3, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel h4 {
  color: #f2910a;
  margin: 20px 0px;
}

/* line 8, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests {
  margin-top: 10px;
}

/* line 10, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests .requestDetailsBox {
  color: white;
  padding: 8px 10px;
  border: 1px solid rgba(242, 145, 10, 0.7);
  border-radius: 10px;
  background-color: rgba(242, 145, 10, 0.6);
  width: 125%;
  height: 55px;
  display: inline-block;
}

/* line 20, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests .requestDetailsBox p {
  font-size: 12px;
}

/* line 25, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests button {
  display: inline-block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 20px;
  -webkit-box-shadow: 3px 3px 5px 0px #bebebe;
  -moz-box-shadow: 3px 3px 5px 0px #bebebe;
  box-shadow: 3px 3px 5px 0px #bebebe;
}

/* line 31, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests button i {
  font-size: 20px;
  color: white;
}

/* line 40, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests .confirmRequestBtn {
  border: 1px solid #33cc66;
}

/* line 44, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests .declineRequestBtn {
  border: 1px solid #e33f3f;
  margin-left: 5px;
}

/* line 49, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel .signupRequests .confirmRequestBtn:active,
#execPanel .signupRequests .confirmRequestBtn:active:focus,
#execPanel .signupRequests .confirmRequestBtn:focus,
#execPanel .signupRequests .declineRequestBtn:active,
#execPanel .signupRequests .declineRequestBtn:active:focus,
#execPanel .signupRequests .declineRequestBtn:focus {
  outline: none;
}

/* line 59, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #revokeAccessBtn {
  margin: 50px;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: white;
}

/* line 68, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #revokeAccessBtn:active,
#execPanel #revokeAccessBtn:active:focus,
#execPanel #revokeAccessBtn:focus {
  outline: none;
}

/* line 75, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal input[type="search"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  width: 80%;
  display: inline-block;
}

/* line 82, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal .my-2 {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 90, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal input[type="search"]:active,
#execPanel #searchUserModal input[type="search"]:active:focus,
#execPanel #searchUserModal input[type="search"]:focus,
#execPanel #searchUserModal .my-2:active,
#execPanel #searchUserModal .my-2:active:focus,
#execPanel #searchUserModal .my-2:focus {
  outline: none;
}

/* line 100, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal #addedMembersToRevoke .members {
  background-color: rgba(242, 145, 10, 0.1);
  margin: 5px;
  padding: 5px;
}

/* line 104, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal #addedMembersToRevoke .members .emails {
  font-size: 14px;
}

/* line 108, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_execPanel.scss */
#execPanel #searchUserModal #addedMembersToRevoke .members .removeMemberBtn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: red;
}

/* line 1, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat {
  width: 100%;
}

/* line 6, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenuNav {
  position: fixed;
  left: 0;
  z-index: 99;
  top: 10vh;
  background-color: #fbdeb5;
  line-height: 10vh;
  height: 10vh;
  width: 100%;
  border-top: 1px solid rgba(242, 145, 10, 0.6);
  border-bottom: 1px solid rgba(242, 145, 10, 0.6);
}

/* line 18, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenuNav .row {
  line-height: 10vh;
}

/* line 20, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenuNav .row h3 {
  font-size: 25px;
  color: #f2910a;
  line-height: 10vh;
}

/* line 26, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenuNav .row #chatMenuBtn, #chat #chatMenuNav .row #chatSettingsBtn {
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #f2910a;
}

/* line 33, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenuNav .row #chatMenuBtn:active,
#chat #chatMenuNav .row #chatMenuBtn:active:focus,
#chat #chatMenuNav .row #chatMenuBtn:focus,
#chat #chatMenuNav .row #chatSettingsBtn:active,
#chat #chatMenuNav .row #chatSettingsBtn:active:focus,
#chat #chatMenuNav .row #chatSettingsBtn:focus {
  outline: none;
  border: none;
}

/* line 45, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu {
  position: fixed;
  left: 0;
  top: 20vh;
  width: 90%;
  height: 70vh;
  overflow-y: scroll;
  background-color: #fbdeb5;
  border-bottom: 1px solid rgba(242, 145, 10, 0.6);
  border-right: 1px solid rgba(242, 145, 10, 0.6);
  -webkit-box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
}

/* line 59, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #yourChats {
  padding: 10px;
  font-weight: 600;
  color: #f2910a;
  background-color: rgba(242, 145, 10, 0.2);
  border-bottom: 0.5px solid rgba(242, 145, 10, 0.25);
  font-size: 22px;
}

/* line 68, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #chatsList {
  padding: 0px 20px;
}

/* line 70, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #chatsList .chats {
  font-size: 18px;
}

/* line 72, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #chatsList .chats i {
  color: #f2910a;
}

/* line 78, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #createNewChat {
  border: none;
  height: 60px;
  width: 60px;
  margin: 20px;
  border-radius: 50px;
  line-height: 50px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/* line 84, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #createNewChat i {
  font-size: 30px;
  line-height: 60px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

/* line 96, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMenu #createNewChat:active,
#chat #chatMenu #createNewChat:active:focus,
#chat #chatMenu #createNewChat:focus {
  border: none;
  outline: none !important;
  transform: scale(0.9, 0.9);
}

/* line 105, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings {
  position: fixed;
  right: 0;
  top: 20vh;
  width: 90%;
  height: 70vh;
  overflow-y: scroll;
  background-color: #fbdeb5;
  border-bottom: 1px solid rgba(242, 145, 10, 0.6);
  border-left: 1px solid rgba(242, 145, 10, 0.6);
  -webkit-box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 36px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
}

/* line 120, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #addMembers,
#chat #chatSettings #leaveChat {
  background-color: rgba(242, 145, 10, 0.05);
  border: 0.5px solid rgba(242, 145, 10, 0.2);
  padding: 10px 10px;
  color: red;
  font-size: 16px;
  text-align: left;
}

/* line 130, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #addMembers:active,
#chat #chatSettings #addMembers:active:focus,
#chat #chatSettings #addMembers:focus,
#chat #chatSettings #leaveChat:active,
#chat #chatSettings #leaveChat:active:focus,
#chat #chatSettings #leaveChat:focus {
  outline: none;
  background-color: rgba(242, 145, 10, 0.15);
}

/* line 140, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersListTitleBox {
  margin-top: 10px;
  color: #f2910a;
  background-color: rgba(242, 145, 10, 0.2);
  border-bottom: 0.5px solid rgba(242, 145, 10, 0.25);
  padding: 10px 10px 5px;
}

/* line 142, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersListTitleBox #membersListTitle {
  font-size: 22px;
  font-weight: 600;
  margin: -10px 0px -12px;
}

/* line 153, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList {
  padding: 5px;
}

/* line 156, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList .memberBox {
  height: 50px;
  background-color: rgba(242, 145, 10, 0.1);
  border: 0.5px solid rgba(242, 145, 10, 0.15);
  margin: 5px;
  padding: 5px;
}

/* line 164, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList .memberBox img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

/* line 170, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList .memberBox p {
  padding: 8px 4px;
  font-size: 18px;
}

/* line 175, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList .memberBox button {
  margin: 9.5px 0px;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 12px;
}

/* line 183, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatSettings #membersList .memberBox button:active,
#chat #chatSettings #membersList .memberBox button:active:focus,
#chat #chatSettings #membersList .memberBox button:focus {
  border: none;
  outline: none;
}

/* line 193, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox {
  padding-top: 10vh;
  padding-bottom: 50px;
}

/* line 196, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .messageBox {
  margin: 5px;
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

/* line 204, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .messageBox .messageHeader img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

/* line 209, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .messageBox .messageHeader .messageName {
  margin-top: 13.5px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
}

/* line 215, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .messageBox .messageHeader .messageTime {
  margin-top: 13.5px;
  font-size: 12px;
}

/* line 221, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .messageBox .messageBody .messageContent {
  font-size: 13px;
  padding: 10px;
}

/* line 227, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .myMessage {
  background-color: rgba(242, 145, 10, 0.2);
  color: #f2910a;
  border: 0.5px solid rgba(242, 145, 10, 0.2);
}

/* line 232, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat .chatBox .otherMessage {
  background-color: #f2910a;
  border: 0.5px solid rgba(242, 145, 10, 0.6);
}

/* line 238, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMessageInputBox {
  position: fixed;
  bottom: 10vh;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

/* line 247, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMessageInputBox #chatMessageInput {
  height: 40px;
  width: 70%;
  margin: 5px 0px 5px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}

/* line 256, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMessageInputBox #chatMessageInput:active,
#chat #chatMessageInputBox #chatMessageInput:active:focus,
#chat #chatMessageInputBox #chatMessageInput:focus {
  outline: none !important;
}

/* line 262, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMessageInputBox #sendChatMessage {
  height: 40px;
  line-height: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #f2910a;
  border: none;
}

/* line 271, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
#chat #chatMessageInputBox #sendChatMessage:active,
#chat #chatMessageInputBox #sendChatMessage:active:focus,
#chat #chatMessageInputBox #sendChatMessage:focus {
  box-shadow: none;
  transform: scale(0.97, 0.97);
}

/* line 283, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group input[type="text"]:active,
.modal .form-group input[type="text"]:active:focus,
.modal .form-group input[type="text"]:focus {
  box-shadow: none;
}

/* line 289, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group #addedMembers .members, .modal .form-group #addedMembersToAdd .members {
  background-color: rgba(242, 145, 10, 0.1);
  margin: 5px;
  padding: 5px;
}

/* line 293, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group #addedMembers .members .emails, .modal .form-group #addedMembersToAdd .members .emails {
  font-size: 14px;
}

/* line 297, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group #addedMembers .members .removeMemberBtn, .modal .form-group #addedMembersToAdd .members .removeMemberBtn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: red;
}

/* line 307, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group .input-group .plusBtn {
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
  -webkit-box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.2);
}

/* line 315, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
.modal .form-group .input-group .plusBtn i {
  font-size: 25px;
  line-height: 40px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (orientation: landscape) {
  /* line 331, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  .header, .footer {
    height: 15vh;
  }
  /* line 333, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  .header button, .footer button {
    height: 15vh;
  }
  /* line 338, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #wrapper {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  /* line 343, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #chat #chatMenuNav {
    height: 15vh;
    top: 15vh;
    line-height: 15vh;
  }
  /* line 348, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #chat #chatMenu {
    top: 30vh;
  }
  /* line 351, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #chat #chatSettings {
    top: 30vh;
  }
  /* line 354, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #chat .chatBox {
    padding-top: 15vh;
  }
  /* line 357, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_chat.scss */
  #chat #chatMessageInputBox {
    bottom: 15vh;
  }
}

/* line 2, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_settings.scss */
#settings h2 {
  padding: 20px;
}

/* line 5, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_settings.scss */
#settings form {
  padding: 5px 0px;
}

/* line 7, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_settings.scss */
#settings form .form-group {
  padding: 5px 0px;
}

/* line 9, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_settings.scss */
#settings form .form-group label {
  font-size: 18px;
}

/* line 14, C:/xampp/htdocs/WebDev/ZirafApp/scss/components/_settings.scss */
#settings form .btn {
  margin: 0px 0px 10px;
}

/*# sourceMappingURL=../css/main.map */