.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: $navHeight;
  background-color: $zirafColor;
  //line-height: $navHeight;
  -webkit-box-shadow: 0px 10px 36px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 36px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 36px 5px rgba(0,0,0,0.75);

  button {
    border: none;
    background-color: $zirafColor;
    text-decoration: none;
    height: $navHeight;
    p {
      color: $footerColor;
      i {
        font-size: 25px;
      }
    }
  }

  button:active,
  button:active:focus,
  button:focus {
    border: none;
    outline: none!important;
  }

  .navText {
    font-size: 10px!important;
  }

  .row {
    .activeNav {
      background-color: $footerColor;
      p {
        color: $zirafColor;
      }
    }
  }

}