.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: #eee;

  button {
    border: none;
    text-decoration: none;
    height: $navHeight;
    p {
      color: $zirafColor;
      i {
        font-size: 25px;
      }
    }
  }

  .navText {
    font-size: 10px!important;
    //line-height: -10px!important;
  }

  .row {
    .activeNav {
      background-color: $zirafColor;
      p {
        color: #eee;
      }
    }
  }
}
  