#loginContainer, #signupContainer {
  h2 {
    padding: 20px;
  }

  #loginForm, #signupForm {

    input {
      border-color: $zirafColor;
      margin-top: 5px;
    }
    .input-group-addon {
      background-color: $zirafColor;
      margin-top: 5px;
      border-color: $zirafColor;
      color: #fff;
      width: 50px;
    }
    #loginBtn, #signupBtn {
      border-color: $zirafColor;
      margin: 10px 0px 0px;
    }

    .linkBtn {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}