#chat {
  width: 100%;
  // position: absolute;
  // left: 0;

  #chatMenuNav {
    position: fixed;
    left: 0;
    z-index: 99;
    top: $navHeight;
    background-color: #fbdeb5;
    line-height: $navHeight;
    height: $navHeight;
    width: 100%;
    border-top: 1px solid rgba(242,145,10,0.6);
    border-bottom: 1px solid rgba(242,145,10,0.6);

    .row {
      line-height: $navHeight;
      h3 {
        font-size: 25px;
        color: $zirafColor;
        line-height: $navHeight;
      }

      #chatMenuBtn, #chatSettingsBtn {
        border: none;
        background-color: transparent;
        font-size: 40px;
        color: $zirafColor;
      }
    
      #chatMenuBtn:active,
      #chatMenuBtn:active:focus,
      #chatMenuBtn:focus,
      #chatSettingsBtn:active,
      #chatSettingsBtn:active:focus,
      #chatSettingsBtn:focus {
        outline: none;
        border: none;
      }
    }
  }

  #chatMenu {
    position: fixed;
    left: 0;
    top: $navHeight*2;
    width: 90%;
    height: 100vh - 3*$navHeight;
    overflow-y: scroll;
    background-color: #fbdeb5;
    border-bottom: 1px solid rgba(242,145,10,0.6);
    border-right: 1px solid rgba(242,145,10,0.6);
    -webkit-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);

    #yourChats {
      padding: 10px;
      font-weight: 600;
      color: $zirafColor;
      background-color: rgba(242,145,10,0.2);
      border-bottom: 0.5px solid rgba(242,145,10,0.25);
      font-size: 22px;
    }

    #chatsList {
      padding: 0px 20px;
      .chats {
        font-size: 18px;
        i {
          color: $zirafColor;
        }
      }
    }

    #createNewChat {
      border: none;
      height: 60px;
      width: 60px;
      margin: 20px;
      border-radius: 50px;
      background-color: $zirafColor;
      i {        
        font-size: 30px;
        line-height: 60px;
        color: white;
        text-shadow: 2px 2px rgba(0,0,0,0.1);
      }
      line-height: 50px;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    }

    #createNewChat:active,
    #createNewChat:active:focus,
    #createNewChat:focus {
      border: none;
      outline: none!important;
      transform: scale(0.9,0.9);
    }
  }

  #chatSettings {
    position: fixed;
    right: 0;
    top: $navHeight*2;
    width: 90%;
    height: 100vh - 3*$navHeight;
    overflow-y: scroll;
    background-color: #fbdeb5;
    border-bottom: 1px solid rgba(242,145,10,0.6);
    border-left: 1px solid rgba(242,145,10,0.6);
    -webkit-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.2);
    padding: 10px 0px;

    #addMembers,
    #leaveChat {
      background-color: rgba(242,145,10,0.05);
      border: 0.5px solid rgba(242,145,10,0.2);
      padding: 10px 10px;
      color: red;
      font-size: 16px;
      text-align: left;
    }

    #addMembers:active,
    #addMembers:active:focus,
    #addMembers:focus,
    #leaveChat:active,
    #leaveChat:active:focus,
    #leaveChat:focus {
      outline: none;
      background-color: rgba(242,145,10,0.15);
    }
    
    #membersListTitleBox {
      margin-top: 10px;
      #membersListTitle {
        font-size: 22px;
        font-weight: 600;
        margin: -10px 0px -12px;
      }
      color: $zirafColor;
      background-color: rgba(242,145,10,0.2);
      border-bottom: 0.5px solid rgba(242,145,10,0.25);
      padding: 10px 10px 5px;
    }

    #membersList {
      padding: 5px;
      
      .memberBox {
        height: 50px;
        // width: 100%;
        background-color: rgba(242,145,10,0.1);
        border: 0.5px solid rgba(242,145,10,0.15);
        margin: 5px;
        padding: 5px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }

        p {
          padding: 8px 4px;
          font-size: 18px;
        }

        button {
          margin: 9.5px 0px;
          border: none;
          background-color: transparent;
          color: red;
          font-size: 12px;
        }

        button:active,
        button:active:focus,
        button:focus {
          border: none;
          outline: none;
        }
      }
    }
  }

  .chatBox {
    padding-top: $navHeight;
    padding-bottom: 50px;
    .messageBox {
      margin: 5px;
      width: 80%;
      height: fit-content;
      border-radius: 10px;
      color: white;
      padding: 5px;
      .messageHeader {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
        .messageName {
          margin-top: 13.5px;
          margin-left: 5px;
          font-size: 13px;
          font-weight: 600;
        }
        .messageTime {
          margin-top: 13.5px;
          font-size: 12px;
        }
      }
      .messageBody {
        .messageContent {
          font-size: 13px;
          padding: 10px;
        }
      }
    }
    .myMessage {
      background-color: rgba(242,145,10,0.2);
      color: $zirafColor;
      border: 0.5px solid rgba(242,145,10,0.2);
    }
    .otherMessage {
      background-color: rgba(242,145,10,1);
      border: 0.5px solid rgba(242,145,10,0.6);
    }
  }

  #chatMessageInputBox {
    position: fixed;
    bottom: $navHeight;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 0.5px solid rgba(0,0,0,0.1);

    #chatMessageInput {
      height: 40px;
      width: 70%;
      margin: 5px 0px 5px 20px;
      border-radius: 10px;
      border: 1px solid rgba(0,0,0,0.1);
      padding-left: 10px;
    }

    #chatMessageInput:active,
    #chatMessageInput:active:focus,
    #chatMessageInput:focus {
      outline: none!important;
    }

    #sendChatMessage {
      height: 40px;
      line-height: 10px;
      margin: 5px;
      border-radius: 10px;
      background-color: $zirafColor;
      border: none;
    }

    #sendChatMessage:active,
    #sendChatMessage:active:focus,
    #sendChatMessage:focus {
      box-shadow: none;
      transform: scale(0.97,0.97);
    }
    
  }
}

.modal {
  .form-group {
    input[type="text"]:active,
    input[type="text"]:active:focus,
    input[type="text"]:focus {
      box-shadow: none;
    }
    #addedMembers {
      .members{
        background-color: rgba(242,145,10,0.1);;
        margin: 5px;
        padding: 5px;
        .emails {
          font-size: 14px;
        }

        .removeMemberBtn {
          border: none;
          background-color: transparent;
          font-size: 12px;
          color: red;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .header, .footer {
    height: $landscapeNavHeight;
    button {
      height: $landscapeNavHeight;
    }
  }

  #wrapper {
    padding-top: $landscapeNavHeight;
    padding-bottom: $landscapeNavHeight;
  }
  #chat {
    #chatMenuNav {
      height: $landscapeNavHeight;
      top: $landscapeNavHeight;
      line-height: $landscapeNavHeight;
    }
    #chatMenu {
      top: $landscapeNavHeight*2;
    }
    #chatSettings {
      top: $landscapeNavHeight*2;
    }
    .chatBox {
      padding-top: $landscapeNavHeight;
    }
    #chatMessageInputBox {
      bottom: $landscapeNavHeight;
    }
  }
}