#chat {
  width: 100%;
  // position: absolute;
  // left: 0;

  #chatMenuNav {
    position: fixed;
    left: 0;
    background-color: rgba(242,145,10,0.3);
    line-height: 55px;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(242,145,10,0.6);
  }

  #chatMenuBtn {
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: $zirafColor;
  }

  #chatMenuBtn:active,
  #chatMenuBtn:active:focus,
  #chatMenuBtn:focus {
    outline: none;
    border: none;
  }

  #chatMenu {
    position: fixed;
    left: 0;
    top: $navHeight + 55px;
    width: 90%;
    height: 50vh;
    background-color: rgba(242,145,10,1);
    border-bottom: 1px solid rgba(242,145,10,0.6);
    border-right: 1px solid rgba(242,145,10,0.6);
    -webkit-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 20px 36px 4px rgba(0,0,0,0.1);
  }

  .chatBox {
    padding-top: 55px;
    .messageBox {
      margin: 5px;
      width: 280px;
      height: fit-content;
      border-radius: 10px;
      color: white;
      padding: 5px;
      .messageHeader {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
        }
        .messageName {
          margin-top: 13.5px;
          margin-left: 5px;
          font-size: 13px;
          font-weight: 600;
        }
        .messageTime {
          margin-top: 13.5px;
          font-size: 12px;
        }
      }
      .messageBody {
        .messageContent {
          font-size: 13px;
          padding: 10px;
        }
      }
    }
    .myMessage {
      background-color: rgba(242,145,10,0.3);
      border: 1px solid rgba(242,145,10,0.6);
    }
    .otherMessage {
      background-color: rgba(242,145,10,1);
      border: 1px solid rgba(242,145,10,0.6);
    }
  }
}