#newsfeed {
  #newsfeedMenu {
    button {
      padding: 5px;
      border: 0.2px solid rgba(242,145,10,0.05);;
      background-color: rgba(242,145,10,0.2);
      p{
        color: $zirafColor;
        font-size: 13px;
        i{
          font-size: 25px;
        }
      }
    }

    button:active,
    button:active:focus,
    button:focus {
      outline: none;
      background-color: rgba(242,145,10,0.4);
    }
  }

  .newsfeedAddPost {
    background-color: rgba(242,145,10,0.1);
    border-bottom: 1px solid rgba(242,145,10,0.2);
    padding: 20px 20px 0px;
    textarea, input[type="text"] {
      width: 100%;
      max-height: 500px;
      max-width: 100%;
      border: 1px solid rgba(242,145,10,0.1)!important;
    }

    .custom-file-control {
      border: 1px solid rgba(242,145,10,0.2);
      color: rgba(242,145,10,0.6);
     
    }

    .custom-file {
      margin: 0px 0px 10px;
    }

    .custom-file-control::before {
      background-color: $zirafColor;
      color: white;
      border: none;
    }

    .custom-file-control::before:hover,
    .custom-file-control::before:active, 
    .custom-file-control::before:focus,
    .custom-file-control::before:active:focus {
      background-color: rgba(242,145,10,0.8)!important;
    }

    input[type="text"] {
     // margin: 0px 0px 10px;
    }

    textarea:active,
    textarea:active:focus,
    textarea:focus,
    input[type="text"]:active,
    input[type="text"]:active:focus,
    input[type="text"]:focus {
      box-shadow: none;
    }

    .custom-file-input:focus~.custom-file-control {
      box-shadow: none;
  }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(242,145,10,0.6);
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(242,145,10,0.6);
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(242,145,10,0.6);
    }

    #announcementTextarea {
      height: 100px;
    }

    #pictureTextarea,
    #pollTextarea {
      height: 70px;
    }

    .custom-file {
      .custom-file-label {
        margin-top: -50px!important;
      }
    }
    
    .postBtn {
      color: white;
      float: right!important;
      margin: 10px -10px;
    }

    .input-group {
      margin: 13px 0px 0px;
      input {
        height: 50px;
      }
      .plusBtn {
        height: 50px;
        width: 50px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border: 1px solid rgba(242,145,10,0.1);
        i {        
          font-size: 25px;
          line-height: 40px;
          color: white;
          text-shadow: 2px 2px rgba(0,0,0,0.1);
        }
        //line-height: 30px;
        -webkit-box-shadow: 4px 4px 10px -4px rgba(0,0,0,0.1);
        -moz-box-shadow: 4px 4px 10px -4px rgba(0,0,0,0.1);
        box-shadow: 4px 4px 10px -4px rgba(0,0,0,0.1);
      }
    }

    #addedPollOptions {
      width: 100%;
      .addedPollOptionsContainer{
        background-color: rgba(242,145,10,0.1);;
        margin: 5px;
        padding: 5px;
        .addedPollOptions {
          font-size: 14px;
        }

        .removeAddedPollOption {
          border: none;
          background-color: transparent;
          font-size: 12px;
          color: red;
        }
      }
    }
  }

  .post {
    margin: 20px 5px;
    padding: 10px;
    background-color: rgba(242,145,10,0.1);
    border: 1px solid rgba(242,145,10,0.1);
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.3);
    .postHeader {
      border-bottom: 1px solid rgba(242,145,10,0.15);
      height: 45px;

      img {
        border-radius: 50px;
      }

      p {
        padding: 8px 5px;
        font-weight: 600;
        color: $zirafColor;
      }

      small {
        padding: 10px 5px;
        color: $zirafColor;
      }
    }
    .postBody {
      p {
        padding: 10px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 14px;
      }
      img {
        padding: 10px 5px 0px;
        width: 100%;
        height: auto;
      }
      .poll {
        .pollOption {
          p {
            color: $zirafColor;
          }
          .progress {
            border-radius: 2px;
            width: 60%;
            margin: 10px 5px;
            height: 35px;
            position: relative;
            background-color: rgba(255,255,255,1);
            border: 0.5px solid rgba(242,145,10,0.25);
  
            .progress-bar {
              background-color: rgba(242,145,10,0.3);
              p {
                position: absolute;
                left: 0; 
                color: $zirafColor;
              }
            }
          }
  
          .custom-radio {
            margin: 10px 0px;
          }
          
          .custom-control-indicator {
            background-color: rgba(255,255,255,1);
            border: 0.5px solid rgba(242,145,10,0.25);
            height: 25px;
            width: 25px;
          }

          .custom-control-input:checked~.custom-control-indicator {
            color: #fff;
            background-color: rgba(242,145,10,1);
          }
        }
      }
      
    }
    .postFooter {
      border-top: 1px solid rgba(242,145,10,0.15);
      height: 40px;
      .likePostBtn {
        border: none;
        background-color: transparent;
        img {
          height: 30px;
          width: auto;
        }
        color: $zirafColor;
      }

      .likesCount {
        color: $zirafColor;
        padding: 10px 5px 0px;
      }
    }
  }
}

