#settings {
  h2 {
    padding: 20px;
  }
  form {
    padding: 5px 0px;
    .form-group {
      padding: 5px 0px;
      label {
        font-size: 18px;
      }
    }

    .btn {
      margin: 0px 0px 10px;
    }
  }
}