html, body {
	height: 100%;
	font-family: $raleway;
}

#wrapper {
	margin: 0;
	min-width: 100%!important;
	min-height: 100%;
	position: relative;
	padding-top: $navHeight;
	padding-bottom: $navHeight;
}

.clear {
	clear: both;
}

body {
	min-width: 300px;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale
}

.bgGreen {
	background-color: $green;
	color: white;
}

.bgGreen:hover,
.bgGreen:active, 
.bgGreen:focus,
.bgGreen:active:focus {
	background-color: rgba(51, 204, 102, 0.8);
	box-shadow: 0 0 0 0.2rem rgba(51, 204, 102, 0.2);
	color: white;
}

.bgRed {
	background-color: $red;
	color: white;
}

.bgRed:hover,
.bgRed:active, 
.bgRed:focus,
.bgRed:active:focus {
	background-color: rgba(236, 63, 63, 0.8);
	box-shadow: 0 0 0 0.2rem rgba(236, 63, 63, 0.2);
	color: white;
}

.bgZiraf {
	background-color: $zirafColor;
	color: white;
}

.bgZiraf:hover,
.bgZiraf:active, 
.bgZiraf:focus,
.bgZiraf:active:focus {
	background-color: rgba(242,145,10,0.8);
	box-shadow: 0 0 0 0.2rem rgba(242,145,10, 0.2);
	color: white;
}

.bgNeutral {
	background-color: white;
	color: $neutral;
	border: 1.1px solid $neutral;
}

.bgNeutral:hover,
.bgNeutral:active, 
.bgNeutral:focus,
.bgNeutral:active:focus {
	background-color: $neutral;
	color: white;
	box-shadow: 0 0 0 0.2rem rgba(50, 78, 78, 0.2);
}

.alert {
	margin: 5px 0px 0px;
}

input[type="text"]:active, 
input[type="text"]:focus,
input[type="text"]:active:focus,
input[type="email"]:active, 
input[type="email"]:focus,
input[type="email"]:active:focus,
input[type="password"]:active, 
input[type="password"]:focus,
input[type="password"]:active:focus,
input[type="tel"]:active, 
input[type="tel"]:focus,
input[type="tel"]:active:focus,
textarea:active, 
textarea:focus,
textarea:active:focus {
	box-shadow: 0 0 0 0.2rem rgba(242,145,10, 0.2);
	border-color: rgba(242,145,10, 0.3);
}

.form-control:focus {
	box-shadow: 0 0 0 0.2rem rgba(242,145,10, 0.2);
	border-color: rgba(242,145,10, 0.3);
}


.searchBar {

}

.dropDownList {
	width: 85%;
	margin-top: -20px;
	border: 1px solid rgba(242,145,10, 0.3);
	-webkit-box-shadow: 7px 7px 30px -13px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 30px -13px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 30px -13px rgba(0,0,0,0.3);
	.suggestionOption, .suggestionOption_newChat, .suggestionOption_addMember {
		padding: 5px 10px;
		//border-bottom: 1px solid rgba(242,145,10, 0.3);
	}
}