$navHeight: 10vh;
$landscapeNavHeight: 15vh;
$zirafColor: #f2910a;
$zirafColorRGBA: rgba(242,145,10,1);
$footerColor: #fff;
$raleway: 'Raleway', sans-serif;
$green: rgba(51, 204, 102,1);
$red: rgba(236, 63, 63,1);
$neutral: rgba(50, 78, 78,1);

// $custom-file-text: (
//   placeholder: (
//     en: "Choose picture..."
//   ),
//   button-label: (
//     en: "Browse"
//   )
// );
